In [ ]:
# Do NOT modify this code cell

# importing useful libraries
import re

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Do NOT modify this code cell

# laoding in the data
df = pd.read_csv("https://raw.githubusercontent.com/MIE223-2025/course-datasets/main/listings.csv")
print(df.shape)
df.head()

(20386, 18)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,1419,Home in Toronto · ★5.0 · 5 bedrooms · 7 beds ·...,1565,Alexandra,NaN,Little Portugal,43.64590,-79.42423,Entire home/apt,NaN,28,6,2017-08-07,0.06,1,0,0,NaN
1,8077,Rental unit in Toronto · ★4.84 · 1 bedroom · 1...,22795,Kathie & Larry,NaN,Waterfront Communities-The Island,43.64080,-79.37673,Private room,100.0,180,169,2013-08-27,0.96,2,0,0,NaN
2,26654,Condo in Toronto · ★4.79 · 1 bedroom · 2 beds ...,113345,Adela,NaN,Waterfront Communities-The Island,43.64608,-79.39032,Entire home/apt,145.0,28,42,2023-09-01,0.27,5,77,2,NaN
3,27423,Rental unit in Toronto · ★4.93 · Studio · 1 be...,118124,Brent,NaN,South Riverdale,43.66884,-79.32725,Entire home/apt,75.0,90,28,2023-08-31,0.17,1,215,1,NaN
4,30931,Rental unit in Toronto · 1 bedroom · 2 beds · ...,22795,Kathie & Larry,NaN,Waterfront Communities-The Island,43.64015,-79.37625,Entire home/apt,134.0,180,1,2010-08-11,0.01,2,0,0,NaN

Creating `rating` column from `name` column by pulling all numbers after the `★` character.

In [ ]:
# Do NOT modify this code cell

# creating 'rating' column
star_char = "★"

df['rating'] = df['name'].apply(lambda x: re.findall(star_char + "(\\d+.?\\d*)", x)[0] if len(re.findall(star_char + "(\\d+.?\\d*)", x)) > 0 else np.nan)
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,rating
0,1419,Home in Toronto · ★5.0 · 5 bedrooms · 7 beds ·...,1565,Alexandra,NaN,Little Portugal,43.64590,-79.42423,Entire home/apt,NaN,28,6,2017-08-07,0.06,1,0,0,NaN,5.0
1,8077,Rental unit in Toronto · ★4.84 · 1 bedroom · 1...,22795,Kathie & Larry,NaN,Waterfront Communities-The Island,43.64080,-79.37673,Private room,100.0,180,169,2013-08-27,0.96,2,0,0,NaN,4.84
2,26654,Condo in Toronto · ★4.79 · 1 bedroom · 2 beds ...,113345,Adela,NaN,Waterfront Communities-The Island,43.64608,-79.39032,Entire home/apt,145.0,28,42,2023-09-01,0.27,5,77,2,NaN,4.79
3,27423,Rental unit in Toronto · ★4.93 · Studio · 1 be...,118124,Brent,NaN,South Riverdale,43.66884,-79.32725,Entire home/apt,75.0,90,28,2023-08-31,0.17,1,215,1,NaN,4.93
4,30931,Rental unit in Toronto · 1 bedroom · 2 beds · ...,22795,Kathie & Larry,NaN,Waterfront Communities-The Island,43.64015,-79.37625,Entire home/apt,134.0,180,1,2010-08-11,0.01,2,0,0,NaN,NaN

In [ ]:
print([col for col in df.select_dtypes(exclude = 'number').columns])

df['rating'] = df['rating'].astype(float)
print(df['rating'].dtype)

['name', 'host_name', 'neighbourhood', 'room_type', 'last_review', 'license', 'rating']
float64

In [ ]:
print(df["rating"].describe()["75%"] - df["rating"].describe()["25%"])

0.2599999999999998

In [ ]:
# Do NOT modify this code cell
print(f"df now has {df.shape[0]} rows")
print("\n")

df now has 20386 rows

In [ ]:
df['license'] = df['license'].fillna(df['license'].dropna().mode()[0])
df = df.dropna(subset = 'host_name')
(df.isnull().sum()/df.shape[0]).sort_values(ascending = False)

neighbourhood_group               1.000000
rating                            0.404582
reviews_per_month                 0.257898
last_review                       0.257898
price                             0.185881
neighbourhood                     0.000000
latitude                          0.000000
longitude                         0.000000
room_type                         0.000000
name                              0.000000
minimum_nights                    0.000000
number_of_reviews                 0.000000
host_name                         0.000000
host_id                           0.000000
calculated_host_listings_count    0.000000
availability_365                  0.000000
number_of_reviews_ltm             0.000000
license                           0.000000
id                                0.000000
dtype: float64

In [ ]:
# Do NOT modify this code cell

# Print the new number of rows in df
print(f"df now has {df.shape[0]} rows")
print("\n")

df now has 20384 rows

In [ ]:
# Do NOT modify this code cell

# summary statistics of price before imputing nan values
df['price'].describe()

NameError: name 'df' is not defined

In [ ]:
# Do NOT modify this code cell
plt.hist(df['price'])
plt.xlabel('price (CAD)')
plt.ylabel('Frequency')
plt.title("Distribution of price before imputing nan values")
plt.show()

In [ ]:
print(f"Before imputing null values, 'price' column has: {df['price'].isnull().sum()} null values")


df['price'] = df['price'].fillna(df.groupby('neighbourhood')['price'].transform('mean'))


print(f"After imputing null values, 'price' column now has: {df['price'].isnull().sum()} null values")

In [ ]:
# Do NOT modify this code cell

# summary statistics of price after imputing nan values
df['price'].describe()

In [ ]:
# Do NOT modify this code cell
plt.hist(df['price'])
plt.xlabel('price (CAD)')
plt.ylabel('Frequency')
plt.title("Distribution of price after imputing nan values")
plt.show()

In [ ]:
# Do NOT modify this code cell

plt.hist(np.log(df['price']))
plt.xlabel('log(price)')
plt.ylabel('Frequency')
plt.title("Distribution of log(price)")
plt.show()

In [ ]:
df['number_of_reviews_ltm'] = df['number_of_reviews_ltm'].apply(lambda x: "High" if pd.to_numeric(x, errors='coerce') > 70 else ("Low" if pd.to_numeric(x, errors='coerce') < 5 else "Medium"))
df['number_of_reviews_ltm'].value_counts()

number_of_reviews_ltm
Low       14576
Medium     5641
High        167
Name: count, dtype: int64

In [ ]:
df.insert(loc = 0, column = "z-score_of_log_price", value = 0)

df_copy = df.copy()

df_copy['price'] = df_copy['price'].apply(lambda x: np.log(x))

df['z-score_of_log_price'] = df_copy['price'].apply(lambda x: (x - df_copy['price'].mean())/df_copy['price'].std())

df['z-score_of_log_price'].head(5)

0    0.368715
1   -0.407469
2    0.130267
3   -0.823809
4    0.016090
Name: z-score_of_log_price, dtype: float64

In [ ]:
cols_to_output = ["id", "name", "host_id", "host_name", "neighbourhood", "room_type", "price", "number_of_reviews", "rating"]

zscore_threshold = 3

top_priced_listings = df[df['z-score_of_log_price'] < -3]

top_priced_listings = top_priced_listings[cols_to_output]

top_priced_listings = top_priced_listings.sort_values(by = 'price', ascending = False)

print(f"The shape of top_priced_listings is: {top_priced_listings.shape}")

top_priced_listings # Outputs top_priced_listings.
                    # Note, Google Colab may truncate this outputs to the first five and last five rows. If done, leave your output truncated by Google Colab.

The shape of top_priced_listings is: (15, 9)

,id,name,host_id,host_name,neighbourhood,room_type,price,number_of_reviews,rating
9320,51291028,Home in Toronto · ★4.88 · 1 bedroom · 1 bed · ...,401125255,Cuong,Junction Area,Private room,16.0,8,4.88
13265,788386071136812754,Condo in Toronto · 3 bedrooms · 4 beds · 2 baths,492380649,Jo,Waterfront Communities-The Island,Entire home/apt,16.0,1,NaN
14049,836542572820667145,Home in Toronto · ★4.71 · 1 bedroom · 1 bed · ...,38195238,Marcel,Edenbridge-Humber Valley,Private room,16.0,7,4.71
15411,895646922644026152,Condo in Toronto · Studio · 2 beds · 1 bath,515685939,Golrokh,Waterfront Communities-The Island,Entire home/apt,15.0,2,NaN
4724,25904215,Condo in Toronto · ★4.96 · 1 bedroom · 1 bed ·...,109770464,Jason,Waterfront Communities-The Island,Entire home/apt,14.0,83,4.96
9570,52427063,Home in Toronto · ★5.0 · 3 bedrooms · 3 beds ·...,250311734,Yafit,Oakwood Village,Entire home/apt,14.0,9,5.00
10719,621560938990601802,Home in Toronto · 1 bedroom · 1 bed · 1 shared...,272046245,Naira,Wexford/Maryvale,Shared room,14.0,2,NaN
10907,639006140189389664,Home in Toronto · 2 bedrooms · 1 bed · 1 priva...,444938485,Shamim,Stonegate-Queensway,Private room,14.0,0,NaN
11304,669742124016099779,Home in Toronto · 1 bedroom · 1 bed · 2 shared...,272046245,Naira,Oakridge,Shared room,14.0,0,NaN
11305,669748890331341050,Home in Toronto · 1 bedroom · 1 bed · 2 shared...,272046245,Naira,Oakridge,Shared room,14.0,0,NaN
11306,669751390441750250,Home in Toronto · 1 bedroom · 1 bed · 1 shared...,272046245,Naira,Oakridge,Shared room,14.0,1,NaN
15999,918848902678053230,Rental unit in Toronto · ★5.0 · 2 bedrooms · 3...,445080509,Mohdean Hatimy,Waterfront Communities-The Island,Entire home/apt,14.0,3,5.00
12372,739784965690958451,Home in Toronto · 1 bedroom · 1 bed · 1 shared...,30813376,Jeff,Pelmo Park-Humberlea,Private room,13.0,2,NaN
4854,26743230,Condo in Toronto · ★4.85 · 1 bedroom · 1 bed ·...,201089891,Derrick,Waterfront Communities-The Island,Entire home/apt,12.0,53,4.85
5909,32587817,Condo in Toronto · ★4.93 · 2 bedrooms · 2 beds...,244920673,Anpalagan,Waterfront Communities-The Island,Entire home/apt,8.0,58,4.93

*Question*: In one sentence, explain the reason that we might look for listings with z-scores < -3.

*Your explanation goes here*: To find outliers.

In [ ]:
# Do NOT modify this code cell
modified_copy = df.copy()
print(f"The shape of data frame is: {modified_copy.shape}")

The shape of data frame is: (20384, 20)

In [ ]:
q1 =  df["price"].describe()["25%"]
q3 =  df["price"].describe()["75%"]

interquartile = q3 - q1

lower = q1 - 1.5 * interquartile
higher = q3 + 1.5 * interquartile

modified_copy = df[(df['price'] <= higher) & (df['price'] >= lower)]
print(f"The shape of data frame is: {modified_copy.shape}")

The shape of data frame is: (19333, 20)